@inherits LayoutComponentBase

<header class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="">FeedReader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="navbar-collapse collapse" onclick="$('#navbarSupportedContent').collapse('hide');">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">HOME</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">ABOUT</NavLink>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container py-4">
    @Body
</div>
